.add-food{
    display:flex;
}

.add-food-content{
    width:100%;
    margin-left:250px;
    padding:30px;
}

.add-food-form{
    width:600px;
    background:white;
    margin:auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
}

.add-food-form h2{
    text-align:center;
    color:#ff6b00;
    margin-bottom:20px;
}

.add-food-form input,
.add-food-form textarea{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:6px;
    font-size:16px;
}

.add-food-form textarea{
    resize:none;
    height:120px;
}

.add-food-form button{
    width:100%;
    padding:12px;
    background:#ff6b00;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:18px;
}

.add-food-form button:hover{
    background:#e65c00;
}