.category-section {
    padding: 25px 60px 30px;
}

.category-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}

.category-card {
    width: 130px;
    min-height: 100px;
    padding: 10px;
    gap: 6px;
}