.category-section{
    padding:50px 60px;
}

.category-section h2{
    font-size:34px;
    margin-bottom:30px;
}

.category-list{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.category-card{
    width:150px;
    min-height:120px;
    background:white;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:16px;
    font-weight:600;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    cursor:pointer;
    transition:.3s;
    padding:15px;
}

.category-card:hover{
    transform:translateY(-8px);
    background:#ff6200;
    color:white;
}