.recent-orders{
    margin:40px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
}

.recent-orders h2{
    margin-bottom:20px;
    color:#ff6b00;
}

.recent-orders table{
    width:100%;
    border-collapse:collapse;
}

.recent-orders th{
    background:#ff6b00;
    color:white;
    padding:12px;
}

.recent-orders td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}