.food-section{

padding:60px;

}

.food-section h2{

text-align:center;

font-size:42px;

margin-bottom:40px;

}

.food-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}