.sidebar{
    width:250px;
    min-height:100vh;
    background:#ff6b00;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding:30px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin-bottom:20px;
}

.sidebar a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.sidebar a:hover{
    color:#ffe3d0;
}